<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">  <%= year %>, CSE 340 App</p>

  <div class="test-button-container">
  <a class="test-error-button" href="/error/trigger-error" title="Trigger a 500 error test">Trigger Error (Test 500)</a>
</div>

</footer>